@*@model IEnumerable<ITProducts>

<h2>ITProducts</h2>
<table class="table">
    <tr>

        <th>Products</th>
        <th>InventoryTag</th>
        <th>ProductName</th>
        <th>Description</th>
        <th>ITDistributor</th>
        <th>Custodian</th>
       
    </tr>

    @foreach (var ITProducts in @Model)
    {
        <tr>
            <td>@ITProducts.Products</td>
            <td>@ITProducts.InventoryTag</td>
            <td>@ITProducts.ProductName</td>
            <td>@ITProducts.Description</td>
            <td>@ITProducts.ITDistributor</td>
            <td>@ITProducts.Custodian</td>
        </tr>
    }

</table>*@

@*@model IEnumerable<ITProducts>

<h2>ITProducts</h2>
<table class="table">
    <tr>
        <th>Products</th>
        <th>Inventory Tag</th>
        <th>Product Name</th>
        <th>Description</th>
        <th>ITDistributor</th>
        <th>Custodian</th>
    </tr>

    @foreach (var product in @Model)
    {
        <tr>
            <td>@product.Products</td>
            <td>@product.InventoryTag</td>
            <td>@product.ProductName</td>
            <td>@product.Description</td>
            <td>@product.ITDistributor</td>
            <td>@product.Custodian</td>
        </tr>
    }

</table>*@

@model IEnumerable<ITProducts>

<h2>ITProducts</h2>
@if (Model != null && Model.Any())
{
    <table class="table">
        <tr>
            <th>Products</th>
            <th>Inventory Tag</th>
            <th>Product Name</th>
            <th>Description</th>
            <th>Date Assigned</th>
            <th>ITDistributor</th>
            <th>Custodian</th>
            @*<th>UploadForm</th>*@
        </tr>

        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductID</td>
                <td><a href="/ITProducts/Product/@product.ProductID">@product.InventoryTag</a></td>
                <td>@product.ProductName</td>
                <td>@product.Description</td>
                <td>@product.DateAssigned.ToString("d")</td>
                <td>@product.ITDistributor</td>
                <td>@product.Custodian</td>
                @*<td>@product.UploadForm</td>*@
            </tr>
        }
    </table>
}
else
{
    <p>No ITProducts available.</p>
}